---
// Component Imports
import SHead from '../components/SHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import { MarkdownInstance } from 'astro';
import type { Project } from '../types';
import ProjectCategory from '../components/ProjectCategory.astro';
import ProjectBlock from '../components/ProjectBlock.astro';

const projects = (await Astro.glob<Project>('./projects/**/*.md')).filter(({ frontmatter }) => !!frontmatter.categoryId);
const project_vindicasecretsofblood = projects.find(({frontmatter})=>{ return frontmatter.title == "Vindica Secrets of Blood"}) as MarkdownInstance<Project>;
---

<html lang="en" >
	<head>
		<SHead title="Vindica Secrets of Blood" description="Vindica Secrets of Blood"/>
	</head>
	<body>
		<Nav/>
		<main>
			<div class="center_flex full_width">
				<div class="wrapper">

				</div>
			</div>
		</main>
		<Footer/>
	</body>
</html>
