---
---
<div class="center_flex">
<pre style="font-size: 0.2rem;">


@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@%%%%%@@@@@@@@@@@@@@@=*+@%++@#%@#@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%@@@@@@@@@@%%##%#%#@@@@@@@@@@@@@@@@@=@%%=*%@@@%@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%@%%%@@%@@@%@@@%%@@@#@@@@@@@@@@@@@@@@@@@@@+%@@@+%=%+
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@%####%@%%@@@@@@@%%@@#*#*%@%@@@@@@@@@@@@@@@@@@@@@#+##--+@
@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@%@%%%%%##%@%#@%@@@@@@%*@#*+*%@%@@@@@@@@@@@@@@@@@@@@@@@%*%+@%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@%*#%@@@@#**%##@@#%*=#+%#%@@@@@@@@@@@@@@@@@@@@@#@%@@:+:*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#%%%%%@@@@#*#@@%@*%*#@##@@@%*+*@@*@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@
@@@@@@@@@@@@@@@@@@@@@@%@@%#%@%%#*%@@%@@@%%##%@@%%#*+@#%##@@@*%%@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@%@#***%#*#+%*+#@@@%@@@@%@#%#%%%*%@#@%%@#-+@@@@@@@@@@@@@@@@@@@@@@@@@+==@
@@@@@@@@@@@@@@@@@@@@@@@@%#***#@@*****%++@@@@@@%=@@@##*@%@@#*%@%#%*+@@%@@@@@@@@@@@@@@@@@@@@+++++
@@@@@@@@@@@@@@@@@@@%@@@#%#%*+#*=+##%##+@*#@@@@@+*#*%@@%@###%#%@*+#+#=#@@@@@@@@@@@@@@@@@@@@@##@@
@@@@@@@@%@%@@@@@@@@@@@%%#%%@%#**#*#%@#*%+*%#@%@@=*##@@%#%**#*+=::*@+%*%@@@@@@@@@@@@@@@@@@@@@@@%
@@@@%@%@@%@@@@%@@@@##%*#**###***%###*+*+%+++@@@@@#%@%@+@#*#--##=:=+%+##%@@@@@@@@@@@@@@@@@@@%%@@
@@@@@%%@@%@@%@@@@%%##**+*#*%#**@@+*%+--==+#@@@@@@@@#@@@%#@*+-*-=+*@#%@@%#@@@@@@@@@@@@@@@%@@@@*#
#%@@@@@@@@%##%@%%##*++++++*+%++*@+*%+-=+%@@@@@@@@@@@%@%+++=*==..%#%*#=#**#@@@@@@@@@@@@@@@%@%%@%
@%%#@%%%@@@%#@@##***+++==+#==-=+@%@*+---#%@@@@@@@@@%#=-=++.::-..*+##*#=**+*%@@@@@@@@@@%@#%@#@@#
#%%%%@%@%%##%###*#*++==+==-=--:*=+-+-.-%%#@@@@@@@%*+++++#==--.:==#+*+=-=*#*@%@@@@@@@@@@@%@@@@@%
%%*#%%%%@@%##@*+*+===-=-=-====:-:==-*:::+%%@@@@#+===+#**:-:=-+:.#-+-...-*++@*#@@@@@@@#@@@@@@#@@
*#*@***%######***++=---:-::-::.:...*+-:-=##%%%*+=-=#...-=*+--=*+.:.:..:.#%=+@#%@@@@@@@%@*#@@%@@
#*%@**%*##*##**+=*==---:::-::..-#..*.:.-=+@@@#*#*@@@@@@%+*@%%+:......+.=-%+#*%#%@@@@@@@@@@@@@@@
%@@@*%%#%**#%%*++*=--:-::::.....%--%*+=**##@@@#@@@@@@@@@@@@@@=:.:...:.#.+=+**%%%%%@%%%%@@%%*%@%
###+#**##%%%##***===:::.::......*+*#%@@@%%@@@@@@@@@@@@@@@@@@#=:.:...*=:@-+*#*#%#%#@***#=#@@@@%%
--**=@#*##*****#+*---::........ +*##%%@@@@@@@@%@@@@@@@@@@@@%+-.:..=.=*.@#%*@=**%%@#%#@@#@@@@%@%
---+==+*#*+*****+=----:::.....  .*##@@@@@@@@@@#@@@@@@@@@@@@*=:..#++-+@=#=@%*%**#%*%#%*@@#@#@%#@
---=-+#**+*%**+*+=--:.........   =*#%@@@@@@@@@%@@@@@@@@@@@#+=:=-+=-:%#*%+%##%#**@@%%@%@@#%@%@*%
:::=**+=@#***##++===-:.:.......   =#%%%%@@@@@#+%##@@@@@@@%*==--*=++#@@%%@@%#%%%#%@%%@@%#%@@@@@@
%:==+*=*%#*##*++=+=-:...........   +###@@@-**=-==*#@@@@@%*+=-=*++@%%+#%+#@*%%##*#%@@@%@@+%%@%#%
=---++#=##%#**++=--.::......:.. .   +*#@@@@@@*###%@@@@@@#*==:.*-+*====%#*%*#%@@@@@@%@*#==%#*%=+
--==*#+#**#*#*++++=-::...:.......    +*%@@@@@@@@@@@#%%%#*+=- :.#=:-+:*#*%*%@#%#@@@@@%*#@@*+%@-%
@@@@@@@@%#%****+=--=++-=.-:...... .   =+++.---::::-++#*+++=..:+:=:.:+*%@%*%**##@@@@@@@*@%=%%%%%
=---*=++++==+====-:++:-.:...........   -+**+++*++=++*#*+===*=#=#=-=+%#%%#*#%#*###*@%=#=:*##%%*#
=:--+--++===+====-=-:-..............     **##+===+****+=-+-.:+*++#%#*#%###%**#%####@##:=#%:-*--
:::-::==---+=-=+--::............  ..      -*@@@@@@@%*+==..-=+=*+*##*#=*+%@+%%#%##@%@@@@@@@**:..
::-:=-::-=---=-=:........... ......       .:=#%@@%+*+==--=+-=-==+=*#*#*=*+##=%#%%*##%@@@@@@@@@@
:-:=-=:-:=:-:.:............. ..... ..  ....:=++======++**==-++=*+*#*+*###*++=#*#+#+#%%=-+++#**=
....--:::.::.::...................     .--++**##*******+=#++=*+*%*%##*+@#*#***+*##+*%*#++**==##
:.:-:=:-::..................... .     ..-:*##%%%%#####*++#+**###+##**%#@#+++#+**+#*%*%+:+:...*%
:::...::.:.:...............        . .  ..%%@@@@%%#%%###++*+#=*===***#**=#=-%*+%%##-=#+==+=#+:+
.:.:.::..:...............   .    . ...   .=%@@@@@@%%%%@@%%*##*++=-*++#=+*%=+%*+=-@%=#*+=*.=%:##
....:::..:........ .  .  *....     :.....-=@@@@@@@@@@@@@@@#@@%#--:#*-=+#**+-:-=-+**+=+%+.*=+-+*
=--=--::::-*=.... ...        .     .....--=@@@@@@@@@@@@@@%@@@@+=++:=:-*=*.+.#-.:-+#+=:*.::=*:++
-+.:-.++-:=.:....             ..       .-##@@@@@@@@@@@@@@@@@@*==*=-=:++#---:+=:=:=*=--..-=-+:#+
:.=--=+=@@==:.....  .       ...       .-#@@@@@@@@@@@@@@@@@@@@:*-+**+++#=--.:=.+..:*:=...:-=+.=*
..-.:.-..:--:...   .        .. :      . #@@#@@@@@@@@@@@#@@@@*+-*-:+*###--=--:::=::**#.-.=**=-*+
..........=::.... .        ..   .  ...   %@-#@@@@@@@@@@@@@*-:+-=+:#***++:-.=:.-=-==#* -=#*#+#*#
....:..:.:-:... ...        ..      ...    *@*+%@@@@@@-=@@:..+:+-:-##+*=.*..:+:.:*===:-+**#*+#*#
..:.:....=:....  .         -:      .:       %%@:@#+=*@@.....:-::-:##%+-#.:.:=*--+=%=:=**+#*.+##
...:....::....  ..         :.      .:        .++-:-*@......:.=+=.-:#*+--.@+.*-#=*=+-.+#%#*++%%#
..  .  .-.........        --       .            .         ...:-....*##---=..=-:+*=#-.++#*#+*%%:
....   ::...........      +=       .                      ..........##@==.:-.==+*#== +#**#-#**%




</pre>
</div>