---
---
<div class="center_flex">
<pre style="font-size: 0.4rem;">


              ..............                                              
              ..............                                              
              ..............                                              
         .....::::::::::::::.....                                         
         .....::::::::::::::.....                                         
              ..............:::::....                                     
              ..............:::::....                                     
              ..............:::::....                                     
                  ...............::::...................                  
                  ...............::::...................                  
              ....:====:::::::::::::::::::=============:.....             
              ....:====:::::::::::::::::::=============:.....             
              ....:====:::::::::::::::::::=============:.....             
         .....=========+++++++++++++++++++++++==============.....         
         .....=========+++++++++++++++++++++++==============.....         
     ....+++++==============+++++++++++++++++++++++==============.....    
     ....+++++==============+++++++++++++++++++++++==============.....    
     ....+++++==============+++++++++++++++++++++++==============.....    
     ....++++++++++==============******************==================-....
     ....++++++++++==============******************==================-....
.....++++++++++++++=========.........*********.........:::::=========-....
.....++++++++++++++=========.........*********.........:::::=========-....
.....++++++++++++++=========.........*********.........:::::=========-....
.....+++++++++=========%%%%%%%%%#::::%%%%%%%%%:::::%%%%*:::::::::====-....
.....+++++++++=========%%%%%%%%%#::::%%%%%%%%%:::::%%%%*:::::::::====-....
.....+++++++++=========*****%%%%#====%%%%%%%%%=====%%%%*:::::::::====-....
.....+++++++++=========*****%%%%#====%%%%%%%%%=====%%%%*:::::::::====-....
.....+++++++++=========*****%%%%#====%%%%%%%%%=====%%%%*:::::::::====-....
.....+++++++++=========#%%%%****#%%%%%%%%%%%%%%%%%%%%%%+::::..........    
.....+++++++++=========#%%%%****#%%%%%%%%%%%%%%%%%%%%%%+::::..........    
     ....+++++=========:::::%%%%%%%%%%%%%%%%%%%%%%%:::::::::.....         
     ....+++++=========:::::%%%%%%%%%%%%%%%%%%%%%%%:::::::::.....         
     ....+++++=========:::::%%%%%%%%%%%%%%%%%%%%%%%:::::::::.....         
     ....=========-.............-*************.....:::::::::.....         
     ....=========-.............-*************.....:::::::::.....         
.....=========....=****-:::::::::====*****====:::::....:::::.....         
.....=========....=****-:::::::::====*****====:::::....:::::.....         
.....=========....=****-:::::::::====*****====:::::....:::::.....         
.....=========**************:::::::::=========:::::....::::::::::.....    
.....=========**************:::::::::=========:::::....::::::::::.....    


</pre>
</div>