/* Global variables */
:root {
	/* Colors */
	--c-text-color-main: #ffffff;
	--c-text-color-title: #ffffff;
	--c-blue: #46b4ff;
	--c-gray: #8b6f6f;
	--c-green: #9ef2cb;
	--c-pink: #ffb8d9;
	--c-orange: #ffb7a3;
	--c-yellow: #ffdace;
	--c-white: #fff;
	--c-sekared: rgb(201, 66, 119);
	--c-navbackgroundcolor: rgb(255, 226, 146);
	--c-navlinkcolor: rgb(255, 255, 255);
	--c-background: #161614;

	/* Fonts */
	--f-u18: 11.390625em;
	--f-u17: 9.950627481136905em;
	--f-u16: 8.692673779389363em;
	--f-u15: 7.59375em;
	--f-u14: 6.63375165409127em;
	--f-u13: 5.795115852926242em;
	--f-u12: 5.0625em;
	--f-u11: 4.422501102727513em;
	--f-u10: 3.8634105686174953em;
	--f-u9: 3.375em;
	--f-u8: 2.9483340684850083em;
	--f-u7: 2.575607045744997em;
	--f-u6: 2.25em;
	--f-u5: 1.9655560456566725em;
	--f-u4: 1.7170713638299977em;
	--f-u3: 1.5em;
	--f-u2: 1.3103706971044482em;
	--f-u1: 1.1447142425533319em;
	--f-d1: 1.1em;
	--f-d2: 0.7631428283688879em;
	--f-d3: 0.6666666666666666em;
	--f-d4: 0.5823869764908659em;
	--f-d5: 0.5087618855792586em;
	--f-d6: 0.4444444444444444em;
	--f-d7: 0.3882579843272439em;
	--f-d8: 0.3391745903861724em;
	--f-d9: 0.2962962962962963em;
	--f-d10: 0.2588386562181626em;
	--f-d11: 0.22611639359078162em;
	--f-d12: 0.19753086419753085em;
	--f-d13: 0.17255910414544176em;
	--f-d14: 0.15074426239385438em;
	--f-d15: 0.13168724279835392em;
	--f-d16: 0.11503940276362785em;
	--f-d17: 0.10049617492923625em;
	--f-d18: 0.0877914951989026em;

	--t-fg: var(--c-text-color-main);
	--t-bg: var(--c-white);
	--t-subdue: var(--c-gray);
	--t-active: var(--c-sekared);
}

html {
	background-color: var(--c-background);
}

@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto/webfontkit/roboto-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto/webfontkit/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	color: var(--t-fg);
	/*font-family: "Pixelify Sans", sans-serif;*/
	font-family: 'robotoregular';
	/*font-family: 'Inter', 'system-ui', sans-serif;*/
}

* {
	box-sizing: content-box;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--t-active);
}

h1 {
	font-size: var(--f-u8);
}

h2
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
}

.center_flex
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
}

.alignleft {
		text-align: left;
	}

.full_width
{
	width: 100%
}

.project-media-box-accent
{
	position: relative;
	color: var(--t-bg);
	background: var(--t-fg);
	border: 3px solid var(--c-sekared);
	box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.7);
}

.project-media-box
{
	position: relative;
	color: var(--t-bg);
	background: var(--t-fg);
	border: 3px solid var(--c-gray);
	box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.7);
}

.steam-gif-ratio
{
	aspect-ratio: 616 / 300;
}

.bannerstyle-default
{

}

.youtube-wrapper {
  position: relative;
  width: 100%;          /* responsive width */
  max-width: 616px;     /* roughly half of 1920px, adjust as needed */
  padding-bottom: 56.25%; /* 16:9 aspect ratio = 1080/1920 * 100% */
  margin: 0 auto;       /* center horizontally */
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center_block
{
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
}

.button {
	display: inline-block;
	border: 3px solid currentColor;
	padding: 0.5em 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.button_nouppercase {
	display: inline-block;
	border: 3px solid currentColor;
	padding: 0.5em 1em;
	font-weight: 700;
}

.projectblock {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

.projectbannerimg {
	width: 100%;
	height: 100%;
	display: block;
}

.wrapper {
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;

	max-width: 50em;

	padding-left: 2rem;
	padding-right: 2rem;
}

.title {
	font-weight: 700;
	font-size: var(--f-u8);
	margin-top: 2rem;
	text-transform: uppercase;
	color: var(--c-text-color-title);
}

.subtitle {
	font-weight: 900;
	font-size: var(--f-u1);
	text-transform: uppercase;
}

.description
{
	display: block;
	text-align: left;
	align-items: center;
	justify-content: center;

	max-width: 30em;
	font-size: var(--f-u1);
	line-height: 2;
}

.projectfield
{
	font-weight: bold;
}

.projectfieldvalue
{
	font-weight: bold;
}

.accent {
	color: var(--c-sekared);
}