---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="fr">
	<head>
		<MainHead title="Sekamelica Games | Page indisponible" />
		<style>
			
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<a class="title">Erreur 404</a>
			<h3 class="accent">La page demandée n'a pas pu être trouvée.</h3>
		</div>
		<Footer />
	</body>
</html>
