---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="fr">
	<head>
		<MainHead
		title="Sekamelica Games | A propos"
		description="A propos de moi" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>Alice Pinto</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="/assets/mesh-gradient.jpg"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					Je suis une développeuse indépendante. [A compléter]
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
