---
// Component Imports
import SHead from '../components/SHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import CatFace from '../components/extra/CatFace.astro';
import CatQuestion from '../components/extra/CatQuestion.astro';
---

<html lang="en" >
	<head>
		<SHead title="Contact" description="Contact"/>
	</head>
	<body>
		<Nav/>
		<main>
			<div class="center_flex full_width">
				<div class="wrapper">

					<h2>For any contact:</h2>
					<a href="mailto:contact@sekamelicagames.com" class="button_nouppercase">contact@sekamelicagames.com</a>
					
					<CatFace/>

					<br>

					<h2>For bug reporting on games:</h2>
					<a href="mailto:support@sekamelicagames.com" class="button_nouppercase">support@sekamelicagames.com</a>

					<CatQuestion/>

				</div>
			</div>
		</main>
		<Footer/>
	</body>
</html>