---
// Component Imports
import SHead from '../components/SHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import { MarkdownInstance } from 'astro';
import type { Project } from '../types';
import ProjectBlock from '../components/ProjectBlock.astro';
import SekaAscii from '../components/extra/SekaAscii.astro';
import VindicaLogo from '../components/extra/VindicaLogo.astro';
import VindicaIcon from '../components/extra/VindicaIcon.astro';

const projects = (await Astro.glob<Project>('./projects/**/*.md'));
const project_vindicasecretsofblood = projects.find(({frontmatter})=>{ return frontmatter.title == "Vindica Secrets of Blood"}) as MarkdownInstance<Project>;
---

<html lang="en" >
	<head>
		<SHead title="Sekamelica Games" description="French indie gamedev and freelance Unity dev"/>
	</head>
	<body>
		<Nav/>
		<main>
			<div class="center_flex full_width">
				<div class="wrapper">
					<!--- Main infos (Begin)-->
					<h2 class="accent">Alice Pinto<br/>@Sekamelica</h2>
					<h4>French indie gamedev and freelance Unity dev.<br/>
						Currently working on <span class="accent">Vindica Secrets of Blood</span>.</h4>
					<SekaAscii/>
					<!--- Main infos (End) -->

					<!--- News / Latest project (Begin) -->
					<h4>◇─◇──◇───────────────◇──◇─◇</h4>
					<h2>Vindica's Steam page<br/>will be available soon!</h2>
					<h2>↓ ↓ ↓ ↓ ↓</h2>

					<ProjectBlock project={project_vindicasecretsofblood}/>
					<!--- News / Latest project (End) -->
					
				</div>
			</div>
			
		</main>
		<VindicaLogo/>
		<VindicaIcon/>
		<Footer/>
	</body>
</html>
