---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import type { Project } from '../types';

const projects = (await Astro.glob<Project>('./project/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.categoryId);
const projects_recent = projects.filter(({ frontmatter }) => frontmatter.categoryId == 1).sort(
		(a, b) =>
		a.frontmatter.orderId - b.frontmatter.orderId
	);
const projects_kalank = projects.filter(({ frontmatter }) => frontmatter.categoryId == 2).sort(
	(a, b) =>
	a.frontmatter.orderId - b.frontmatter.orderId
);
const projects_enjmin = projects.filter(({ frontmatter }) => frontmatter.categoryId == 3).sort(
	(a, b) =>
	a.frontmatter.orderId - b.frontmatter.orderId
);
const projects_other = projects.filter(({ frontmatter }) => frontmatter.categoryId == 4).sort(
	(a, b) =>
	a.frontmatter.orderId - b.frontmatter.orderId
);
---

<html lang="fr">
	<head>
		<MainHead
			title="Sekamelica Games | Projets"
			description="Les projets de Sekamelica Games"
		/>
		<style>
			.grid {
				display: grid;
				grid-gap: 0.5rem;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<a class="title">Projets</a>
			<h3 class="accent">Mes projets récents</h3>
			<div class="grid">
				{projects_recent.map((project) => <PortfolioPreview project={project} />)}
			</div>
			<h3 class="accent">Jeux réalisés à Kalank</h3>
			<div class="grid">
				{projects_kalank.map((project) => <PortfolioPreview project={project} />)}
			</div>
			<h3 class="accent">Jeux réalisés à l'ENJMIN</h3>
			<div class="grid">
				{projects_enjmin.map((project) => <PortfolioPreview project={project} />)}
			</div>
			<h3 class="accent">Mes autres jeux</h3>
			<div class="grid">
				{projects_other.map((project) => <PortfolioPreview project={project} />)}
			</div>
		</div>
		<Footer />
	</body>
</html>
