---
// Component Imports
import SHead from '../components/SHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import CatStare from '../components/extra/CatStare.astro';
---

<html lang="en" >
	<head>
		<SHead title="Stare" description=""/>
	</head>
	<body>
		<Nav/>
		<main>
			<div class="center_flex full_width">
				<div class="wrapper">

					<CatStare></CatStare>

				</div>
			</div>
		</main>
		<Footer/>
	</body>
</html>
