<nav>
	<a class="link" href="/">
		<div class="monogram">Sekamelica<br>Games</div>
	</a>
	<a class="link" href="/">Accueil</a>
	<a class="link" href="/projects/">Projets</a>
	<a class="link" href="/about/">Biographie</a>
	<a class="link" href="/contact/">Contact</a>
	<!--<a class="siteconstructionwarning">⚠️ Site en cours de création ⚠️</a>-->
	<div class="socials">
		<a class="social" href="https://sekamelica.itch.io/">
			<img src="/assets/nav/icons_png/itch.png" width="32" height="32"/>
		</a>
		<a class="social" href="https://www.linkedin.com/in/alice--pinto/">
			<img src="/assets/nav/icons_png/linkedin.png" width="32" height="32"/>
		</a>
		<a class="social" href="https://twitter.com/sekamelica">
			<img src="/assets/nav/icons_png/twitter.png" width="32" height="32"/>
		</a>
		<!--<a class="social" href="https://github.com/Sekamelica">
			<img src="/assets/nav/icons_png/github.png" width="32" height="32"/>
		</a>-->
	</div>
</nav>

<style>
	nav {
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 1rem;
		/*background-color: var(--c-navbackgroundcolor);*/
		border-bottom: 1px solid black;
	}

	.siteconstructionwarning
	{
		font-size: var(--f-u1);
		text-transform: uppercase;
		text-align: center;
		color: var(--c-sekared);
		font-weight: 900;
		letter-spacing: 5px;
	}

	.link {
		color: var(--c-navlinkcolor);
		display: block;
		text-decoration: none;
		font-size: var(--f-d1);
		text-transform: uppercase;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		font-weight: 900;
		letter-spacing: 0.05rem;
		margin-right: 0.5rem;
	}

	.link:hover,
	.link:focus {
		color: var(--t-active);
	}

	.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6em;
		height: 2.5em;
		margin-right: 0.5rem;
		color: var(--c-black);
		font-weight: 900;
		letter-spacing: -0.05rem;
		text-align: center;
		border: 3px solid var(--c-sekared);
		padding: 2px;
		border-radius: 00%;
	}

	.socials {
		display: flex;
		gap: 0.75em;
		margin-left: auto;
	}

	.social {
		display: block;
	}

	.socialIcon {
		display: block;
		/*width: 1.25rem;*/
		/*height: 1.25rem;*/
		/*fill: var(--c-navlinkcolor);*/
		/*transition: fill linear 150ms;*/
	}

	.socialIcon:hover {
		fill: var(--t-active);
	}
</style>
