---
import type { MarkdownInstance } from 'astro';
import type { Project } from '../types';

interface Props {
	project: MarkdownInstance<Project>;
}

const { frontmatter, url } = Astro.props.project;
---

<div class="card">
	<div class="titleCard" style={`background-image:url(${frontmatter.img})`}>
		<a class="link" href={url}>
			<span class="linkInner title">
				{frontmatter.title}
			</span>
			<span class="linkInner description">
				{frontmatter.description}
			</span>
		</a>
		
	</div>
</div>

<style>
	.card {
		position: relative;
		color: var(--t-bg);
		background: var(--t-fg);
		border: 1px solid #f0f0f0;
		width: 100%;
		height: 175px;
	}

	.title {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		color: white;
		flex-direction: column;
		font-size: var(--f-u4);
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.0625em;
	}

	.description {
		position: absolute;
		top: 75%;
		width: 100%;
		height: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		color: white;
		flex-direction: column;
		color: var(--t-bg);
		font-size: var(--f-d2);
		font-weight: 300;
	}

	.titleCard {
		position: relative;
		background-position: 50% 100%;
		/*padding-top: 37.5%;*/
		width: 100%;
		height: 100%;
	}

	.link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--t-bg);
		font-size: var(--f-u2);
		font-weight: 700;
		background: rgba(0, 0, 0, 0.25);
		opacity: 0;
		text-decoration: none;
		text-transform: uppercase;
		transition: opacity 150ms linear;
	}

	.link:focus,
	.link:hover {
		opacity: 1;
	}

	.link:focus,
	.link:hover .linkInner {
		transform: translateY(0);
		border-color: rgba(255, 255, 255, 0.625);
	}

	.linkInner {
		transition: transform 300ms cubic-bezier(0, 0.4, 0.6, 1), border-color 1s linear;
		transform: translateY(25%);
	}
</style>
